* {
	margin: 0px;
	padding: 0px;
	outline: 0px;
}
img {
	border: 0px;
}
ol, ul {
	list-style-type: none;
}
clr {
	clear: both;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: 0;
}
body {
	background:#E7E7E8;
	/*--background-image: url(../images/bbg.jpg);
	background-size: cover;--*/
}
/*----------------------------------------------------------end over all----------------------------------*/


#voms_block_header{
	background: #1E3C64;
}
.logo a{
	color: #FFFFFF;
}
.logo{
	padding-bottom: 10px;
}
.search_ac ul li {
	float: right;
	padding-right: 10px;
	padding-top: 40px;
	padding-bottom: 10px;
	font-size: 14px;
}
.search_ac ul li a {
	color: #ffffff;
}
.search_ac li {
	list-style-type: none
}
.search_ac li a {
	opacity: 0.8;
}
.search_ac li a:hover {
	opacity: 2;
}
/*----------------------------------end header part-------------------------------------*/

#voms_block_menu{
	background: #18365D;
}
.menu{
	padding-left:0px;
}
#voms_block_menu .navbar-default {
	background-color: inherit;
	border: none;
	margin-bottom: 0px;
}
#voms_block_menu .nav li a:hover {
	background: #ffffff;
}
#voms_block_menu .nav li{
	padding-right: 25px;

}
.navbar-default .navbar-nav > li > a {
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
}

/*----------------------------------end menu part-------------------------------------*/

.si_left {
	float: left;
}
.si_right {
	float: right;
}
.si_mid {
	background-color: #334E72;
	opacity: 0.9;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000;
	margin-top: 20px;
	margin-bottom: 30px;
}

.si {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 0px 20px 0px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	box-shadow: 0px 0px 10px #000;
	text-align: center;
	font-size: 24px;
	font-style: inherit;
	font-weight: bolder;
	color: #000000;
}
.si_from {
	padding: 0px 0px 0px 130px;
}

.s_titel {
	cursor: pointer;
	color: #000;
	display: block;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 900;
	font-style: italic;
}
.s_input_field {
	width: 400px;
	height: 40px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	padding-left: 10px;
	background: #ffffff;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	margin-top: 10px;
	box-shadow: 0px 0px 5px #18365D;
}
.s_input_field:hover {
	box-shadow: 0px 0px 5px #18A9F0;
}
.s_input_field:focus {
	box-shadow: 0px 0px 5px #000000;
}
.s_submit {
	width: 400px;
	height: 40px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	background: #1E3C64;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	margin-top: 20px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 5px #000;
}
.s_submit:hover {
	box-shadow: 0px 0px 5px #18A9F0;
}
.s_submit:focus {
	box-shadow: 0px 0px 5px #000000;
}

/*----------------------------------end login part-------------------------------------*/

.sp_left {
	float: left;
}
.sp_right {
	float: right;
}
.sp_mid {
	background-color: #18365D;
	opacity: 0.8;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #000;
	margin: 30px 0px 30px 0px;
}
.sp_logo {
	width: 100%;
	height: 150px;
	border-radius: 10px;
	margin: 40px 0px 40px 0px;
	padding: 20px 0px 20px 0px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	box-shadow: 0px 0px 20px #000;
	color: #FFFFFF;
}
.j_logo a{
	color: #fff;
} 
.pro_icon ul li {
	float: right;
	padding: 40px 20px 5px 0px;
	font-size: 18px;
	font-weight: bolder;
	font-style: italic;
}
.pro_icon ul li a {
	color: #fff;
}
.pro_icon li {
	list-style-type: none
}
.pro_icon li a {
	opacity: .9;
}
.pro_icon li a:hover {
	opacity: 2;
	color: #000000;
}
.sp_midel_l {
	width: 270px;
	float: left;
	margin: 0px 0px 40px 0px;
	padding: 20px 0px 20px 0px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	box-shadow: 0px 0px 10px #000;
}
.pimage {
	width: 180px;
	height: 240px;
	margin: 0px auto;
	margin-bottom: 20px;
	border-radius: 30px;/*
	border: 0px;
	border: inset 1px solid#000;
	box-shadow: 0px 0px 10px #AA0B4B;
	*/
}
/*
.p_file {
	width: 250px;
	height: 50px;
	margin: 0px auto;
	margin: 10px 10px 10px 10px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	box-shadow: 0px 0px 10px #AA0B4B;
	font-size: 18px;
	font-style: italic;
	font-weight: bolder;
	color: #000000;
}
*/
.p_send {
	width: 250px;
	height: 30px;
	margin:10px 10px 10px 10px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	box-shadow: 0px 0px 5px #000;
	background: #18365D;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}
.p_send:hover {
	box-shadow: 0px 0px 5px #000000;
}
.p_send:focus {
	box-shadow: 0px 0px 5px #FFFFFF;
}

.sp_midel_rr{
	float: right;
	margin: 0px 0px 0px 20px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	box-shadow: 0px 0px 10px #000;
}

.sp_midel_m {
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 20px 0px;
}
.p_left {
	float: left;
	width: 100px;
	height: 40px;
	margin: 15px 0px 15px 0px;
	padding: 10px 10px 10px 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000;
	font-size: 15px;
	font-style: italic;
	font-weight: bolder;
	color: #fff;
}
.sp_midel_r{
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 20px 20px;
	
}
.p_right {
	float: left;
	width: 400px;
	height: 40px;
	margin: 15px 0px 15px 0px;
	padding: 10px 0px 10px 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000;
	font-size: 15px;
	font-style: italic;
	font-weight: bolder;
	color: #fff;
}
	
/*------------------------------------------end profile---------------------------------------------*/