* {
	margin: 0px;
	padding: 0px;
	outline: 0px;
}
img {
	border: 0px;
}
ol, ul {
	list-style-type: none;
}
clr {
	clear: both;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: 0;
}
body {
	background:#E7E7E8;
	/*--background-image: url(../images/bbg.jpg);
	background-size: cover;--*/
}
/*----------------------------------------------------------end over all----------------------------------*/

#voms_block_header{
	background: #1E3C64;
}
.logo a{
	color: #FFFFFF;
}
.logo{
	padding-bottom: 10px;
}
.search_ac ul li {
	float: right;
	padding-right: 10px;
	padding-top: 40px;
	padding-bottom: 10px;
	font-size: 14px;
}
.search_ac ul li a {
	color: #ffffff;
}
.search_ac li {
	list-style-type: none
}
.search_ac li a {
	opacity: 0.8;
}
.search_ac li a:hover {
	opacity: 2;
}
/*----------------------------------end header part-------------------------------------*/

#voms_block_menu{
	background: #18365D;
}
.menu{
	padding-left:0px;
}
#voms_block_menu .navbar-default {
	background-color: inherit;
	border: none;
	margin-bottom: 0px;
}
#voms_block_menu .nav li a:hover {
	background: #ffffff;
}
#voms_block_menu .nav li{
	padding-right: 25px;

}
.navbar-default .navbar-nav > li > a {
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
}

/*----------------------------------end menu part-------------------------------------*/
#voms_block_from {
	background-color: #E7E7E8;
}

.su_left {
	float: left;
}
.su_right {
	float: right;
}
.su_mid {
	background-color: #1E3C64;
	opacity: 0.9;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #000;
	margin-top: 50px;
	margin-bottom: 50px;
}
.su_logo {
	width: 100%;
	margin: 40px 0px 40px 0px;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	box-shadow: 0px 0px 10px #AA0B4B;
}
.su {
	width: 100%;
	margin: 50px 0px 50px 0px;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	box-shadow: 0px 0px 10px #000;
	text-align: center;
	font-size: 24px;
	font-style: inherit;
	font-weight: bolder;
	color: #000000;
}
.su_from {
	padding: 0px 0px 0px 200px;
}
.s_titel {
	cursor: pointer;
	color: #000;
	display: block;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 900;
	font-style: italic;
}
.s_input_field {
	width: 400px;
	height: 40px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	padding-left: 10px;
	background: #ffffff;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	margin-top: 10px;
	box-shadow: 0px 0px 5px #18365D;
}
.s_input_field:hover {
	box-shadow: 0px 0px 5px #18A9F0;
}
.s_input_field:focus {
	box-shadow: 0px 0px 5px #000000;
}
.s_submit {
	width: 400px;
	height: 40px;
	border-radius: 10px;
	border: 0px;
	border: inset 1px solid#000;
	background: #1E3C64;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	margin-top: 20px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 5px #000;
}
.s_submit:hover {
	box-shadow: 0px 0px 5px #18A9F0;
}
.s_submit:focus {
	box-shadow: 0px 0px 5px #000000;
}
/*----------------------------------end register part-------------------------------------*/
